body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

nav{
    background-color: #491818;
    font-size: 100%;
    overflow: hidden;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
}

.navbar li {
    display: inline;
}

.navbar a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #491818;
}

.navbar a:hover {
    background-color: #561c1c;
    color: rgb(255, 255, 255);
}

img.logo {
    width: 20%;
    position: absolute; /* Mantén la posición absoluta */
    right: 0; /* Alinea la imagen hacia la derecha */
    top: 5%; /* Ajusta la distancia desde la parte superior */
}
