*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
section{
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    width: 80%;
}