html, body {
    overflow-y: auto; /* Activa la barra de desplazamiento vertical si es necesario */
}
h2{
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}
p{
    font-size: 1.5em;
    text-align: justify;
    font-style: normal;
}